<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}vmailManage - manage your email server{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <!-- <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" /> -->
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <div class="header">
            <div class="header_menu">
                <a href="{{ asset('domain') }}">domain</a> |
                <a href="{{ asset('account') }}">account</a> |
                <a href="{{ asset('alias') }}">alias</a>
            </div>
            <!--
            <div class="header_logon">
                User: login
            </div>
            -->
        </div>