<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}vmailManage{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>

    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
    <header class="header">
      <div class="header_menu">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          <a href="{{ asset('domain') }}" class="{{ app.request.requestUri == asset('domain') ~ '/' ? 'active' }}">domains</a>
          <a href="{{ asset('account') }}" class="{{ app.request.requestUri == asset('account') ~ '/' ? 'active' }}">accounts</a>
          <a href="{{ asset('alias') }}"
             class="{{ app.request.requestUri == asset('alias') ~ '/' ? 'active' }}">aliases</a>
          <a href="/rspamd" target="_blank">spam</a>
        {% endif %}
      </div>
      <div class="header_logon">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          <a href="{{ asset('logout') }}"><span class="material-icons">exit_to_app</span> logout</a>
        {% else %}
          <a href="{{ asset('login') }}"><span class="material-icons">person</span> login</a>
        {% endif %}
      </div>
    </header>
    <div class="container">

