{# app/Resources/views/editAccount.html.twig #}
{{ include('base.html.twig') }}

<h1>Edit alias</h1>


{{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}



{{ include('base_bottom.html.twig') }}