{# app/Resources/views/listDomains.html.twig #}
{{ include('base.html.twig') }}

<h1>List domains</h1>

<table>
    <thead>
    <tr>
        <th>Domain</th>
        <th>Action</th>

    </tr>
    </thead>
    <tbody>
    {% for item in domains %}
        <tr>
            <td>{{ item.domain }}</td>
            <td><a href="{{ item.id }}">edit</a> <a href="delete/{{ item.id }}">delete</a></td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td></td>
        <td><a href="new">+ new</a></td>
    </tr>
    </tfoot>
</table>

{{ include('base_bottom.html.twig') }}