{{ include('base.html.twig') }}
<article class="page page-login">
  <header>
    <h1>Login</h1>
    <h2>If you're unsure about your credentials, ask the postmaster</h2>
  </header>
  {% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
  {% endif %}
  <form action="{{ path('login') }}" method="post">
    <div>
      <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}">
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="_password">
      </div>
      <div>
        <button type="submit">login</button>
      </div>
    </div>
  </form>
</article>
{{ include('base_bottom.html.twig') }}
